html,body
{
  /* background-color: #282A3A; */
  background: linear-gradient(50deg, #3B185F 50%, #282A3A 50%);
}

.App {
  /* background-color: #3B185F; */
  font-family: Poppins,sans-serif;
}

.App-header {
  padding-left: 19%;
  padding-right: 10%;
  padding-bottom: 50px;
  min-width:300px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 480px) {
  .App-header{
    padding: 5%;
  }
}